<mat-card style="
            background: rgb(234, 233, 233);
            width: 250px;
            height: 350px;
            text-align: center;
            border-radius: 10%;
            border:0.2em solid gainsboro">
      <mat-card-content style=" height:25%;">
            <img [src]="article.img" alt="image" />
            <!-- <img src="iphone12.png" alt="..." /> -->
      </mat-card-content>
      <mat-card-title style=" height: 10%;">
            {{ article.name }}
      </mat-card-title>
      <mat-card-content style="margin-top: 5px; text-align: left; height:40%;">
            Spécifications
            <ul>
                  <li>Color: {{ specifications.color }}</li>
                  <li>Weight: {{ specifications.weight }}</li>
                  <li>Storage: {{ specifications.storage }}</li>
                  <li>Price: {{ specifications.price }}</li>
            </ul>
      </mat-card-content>
      <mat-card-content style=" height:10%;">
            <mat-grid-list cols="3" rowHeight="130%">
                  <mat-grid-tile colspan="1">
                        <button (click)="removeArticle()" mat-fab style="
                        background-color: rgb(210, 45, 45);
                        color: aliceblue;">
                              <mat-icon>delete</mat-icon>
                        </button>
                  </mat-grid-tile>
                  <mat-grid-tile colspan="0.5">
                        <div *ngIf="quantity > 0">({{ quantity }})</div>
                  </mat-grid-tile>
                  <mat-grid-tile colspan="1">
                        <button (click)="addArticle()" mat-fab style="
                        background-color: rgb(63, 154, 81);
                        color: aliceblue;
                        ">
                              <mat-icon>add</mat-icon>
                        </button>
                  </mat-grid-tile>
            </mat-grid-list>
      </mat-card-content>
</mat-card>